body {color: #333333;}
body {
    font-family: sans-serif;
}

/*ヘッダー*/
.headerimages ul {
    list-style: none;
    text-align: right;
    margin: 0;
}
.headerimages {
    margin-bottom: 70px;
}
.headerimages::before {
    clear: both;
    content: "";
    display: block;
}

.seach li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}
.memu a {
    padding-left: 15px;
}
.seacha li a {
    display: block;
}
.topicon {
    text-align: left;
    float: left;
    left: 0;
    top: 0;
    margin: 0;
    padding-left: 40px;
}

.topic p {
    color: #999;
    padding: 0;
    font-size: 12px;
    width: 400px;
    margin: 0 0 30px 125px;
}
.topic a { 
    color: #999;
}
a {
    text-decoration: none;
}

.topic p a:visited {
    color: #999;
}
.ontext p {
    font-size: 18px;
    margin: 0;
}
.ontext h1 {
    font-size: 26px;
    margin-top: 25px;
}
.ontext {
    color: #fff;
    width: 500px;
    position: absolute;
    top: 38px;
    left: 125px;
}
.topimage {
    position: relative;
}
.topimage img {vertical-align: bottom;}
.snstext {
    font-weight: bold;
    font-size: 10px;
    color: #666666;
}
.sns ul {
    text-align: right;
    margin: 20px auto 20px;
    width: 800px;
    padding: 0;
}
.sns ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.sns ul li a {
    padding-left: 20px;
}

/*pagebody*/
#pagemain {
    width: 1100px;
    margin: 0 auto 120px;
}
#sitefotter {
    width: 1100px;
    margin: 0 auto;
}

.firsttext ul {
    font-size: 20px;
    font-weight: bold;
    width: 800px;
    margin-bottom: 35px;
    margin: 30px auto;
    padding-top: 5px;
    list-style: none;
    padding: 0;
}
.firsttext ul li {
    display: inline-block;
    vertical-align: middle;
}
.firsttext p {
    font-size: 16px;
    line-height: 1.875;
    width: 800px;
    margin: 0 auto 30px;
}
.mainimage img {
    margin: 0 auto;
    display: block;
}

/*pdf*/
.pdf p {
    color: #fff;
    background-color: #005bac;
    border: solid 1px #005bac;
    width: 280px;
    margin: 20px auto;
    padding: 15px 5px;
    text-align: center;
}
.pdf a {
    text-decoration: none;
    display: block;
}
.pdf a:hover {
    opacity: 0.8;
    transition: 0.6s;
}

/*両サイド*/
.base {
    clear: both;
    content: "";
    display: block;
    margin: 80px 150px 0;
}
.back p {
    text-align: left;
    float: left;
    padding: 0;
    margin: 0;
}
.next p {
    text-align: right;
}
.base a {
    color: #0c419a;
    text-decoration: none;
}
.base a:hover {text-decoration: underline;}

/*6ブロ*/
.masstext {
    font-weight: bold;
    padding: 10px 0 5px 20px;
}
.mass {
    background-color: #deecf8;
    width: 800px;
    height: 260px;
    margin: 50px auto;
}
.mass a {
    color: #0c419a;
    text-decoration: none;
    display: block;
    transition: 0.6s;
}
.allblock a:hover {
    background-color: #f4f4f4;
}
.mass:after {
    clear: both;
    content: "";
    display: block;
}
.a-block, 
.b-block, 
.c-block, 
.d-block,
.e-block,
.f-block {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: solid #ccc;
    border-width: thin;
}
.a-block a {padding: 10px 25px;}
.b-block a {padding: 10px 15px;}
.c-block a {padding: 10px 45px;}
.d-block a {padding: 1px 48px;}
.e-block a {padding: 1px 50px;}
.f-block a {padding: 1px 5px;}

.middlesns {
    clear: both;
    content: "";
    display: block;
    margin-bottom: 140px;
}
.subimage {
    float: right;
    margin: 10px 300px 100px;
}
.bottomlist {
    clear: both;
    content: "";
    display: block;
}

/*リスト*/
#footer::after {
    clear: both;
    content: "";
    display: block;
}
#pagesub {
    width: 1100px;
    margin: 0 auto;
}
.bottomlist h1 {
    border-top: solid 2px #333333;
    border-bottom: dotted 1px #999999;
    margin: 0 50px;
    padding: 30px 0;
    font-size: 20px;
}
.listheadA {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 16px;
}
.listgroupA {
    list-style: none;
    margin-left: 0px;
    margin-right: 20px;
    width: 210px;
    float: left;
}
.listgroup li {
    padding: 15px;
    font-size: 14px;
    color: #0c419a;
    list-style: none;
}

a li:hover {text-decoration: underline;}

.listgroupB {float: left;}

.listgroupC {
    float: left;
    padding-left: 40px;
    margin-left: 70px;
}

.listgroupD {float: left;}

.listgroupD li {padding-right: 40px;}

.listheadB {
    clear: both;
    content: "";
    display: block;
    border-top: 1px dotted #999999;
    margin: 0 50px;
    padding: 30px 0 0;
    font-size: 16px;
}
.listgroupE {
    float: left;
    margin-left: 0px;
    margin-right: 20px;
    width: 230px;
}
.listgroupF {
    float: left;
    padding-left: 20px;
}
.listgroupG,
.listgroupH {float: left;}

.listheadC {
    clear: both;
    content: "";
    display: block;
    border-top: 1px dotted #999999;
    margin: 0 50px;
    padding: 30px 0 0;
    font-size: 16px;
}

.listgroupI {
    float: left;
    margin-left: 0px;
    margin-right: 20px;
    width: 210px;
}

.listgroupJ {float: left;}

.listgroupK {
    float: left;
    margin-left: 140px;
}
.listgroupL {
    float: left;
    margin-left: 110px;
}
.listheadD {
    clear: both;
    content: "";
    display: block;
    border-top: 1px dotted #999999;
    margin: 0 50px;
    padding: 30px 0 0;
    font-size: 16px;
}
.listgroupM {
    float: left;
    margin-left: 0px;
    margin-right: 20px;
    width: 210px;
}

.listgroupN {float: left;}

.listgroupO {
    float: left;
    margin-left: 45px;
}
.backb p  {
    clear: both;
    content: "";
    display: block;
    border-top: 1px dotted #999999;
    margin: 0 0 0 50px;
    padding: 50px 0 70px;
    font-size: 16px;
    color: #0c419a;
    width: 1000px;
}
.backb a {color: #0c419a}

.backb a:hover{
    text-decoration: underline;
    color: #0c419a;
}
.bottomsns {
    border: solid 2px #999999;
    border-left: none;
    border-right: none;
}
.bottomsnslist {
    list-style: none;
    text-align: center;
    padding: 20px 0;
}
.bottomsnslist li {
    display: inline-block;
    padding-left: 30px;
    vertical-align: text-top;
}
.bottomsnstext {
    color: #005bac;
    font-weight: bold;
    font-size: 18px;
}
/*下部リスト*/
#footer {
    width: 1100px;
    margin: 40px auto;
}





.side {
    width: 1000px;
    margin: 0 auto;
}
.side li {
    list-style: none;
}
.foot {
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    padding-left: 20px;
    margin: 0;
    width: 225px;
    height: 330px;
}
.footlist {
    height: 300px;
    width: 235px;
}
.foot:last-child {
    margin-right: 0;
}
.foot ul {
    padding: 0;
}
.footlisttittleA {
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}
.footlisttittleA a {
    font-size: 16px;
    font-weight: bold;
    color: #6D6D6D;
    padding: 15px 0;
    margin: 0;
    display: block;
}  
.footlistmenu a {
    padding: 10px 0;
    display: block;
    font-size: 14px;
    color: #666666;
}
.foot a:hover {
    text-decoration: underline;
}
















/*フッター*/

#fotternavi ul {
    list-style: none;
    margin: 40px 0 20px 80px;
}
#fotternavi li  {
    text-decoration: none;
    font-size: 14px;
    border-left: solid 1px #666666;
    padding: 0 15px;
    text-align: center;
    float: left;
}    
#fotternavi ul :first-child {
    border-left: none;
}
#fotternavi a { 
    color: #999;
    padding-bottom: 1px;}

#fotternavi ul li a:hover { 
    text-decoration: underline;}

#fotternavi {
    clear: both;
    content: "";
    display: block;
}

#copyright {
    clear: both;
    content: "";
    display: block;
    font-size: 10px;
    float: left;
    margin: 20px 0 150px 180px;
}
.pagetop {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
p.pagetop {
    margin: 0;
}